<!DOCTYPE html>
<html>
    <head>
        <title>Popular Events at Certain Locations</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="./static/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="nav-container">
            <div class="row">
                <li class="logo">
                    <a href="/" class="logo">HOTSPOT</a>
                </li>
                <li class="nav-item">
                    <a href="/pop-loc" class="nav-link">Search Events by Location</a>
                </li>
                <li class="nav-item">
                    <a href="/popular-events" class="nav-link">Popular Events</a>
                </li>
                <li class="nav-item">
                    <a href="/category" class="nav-link">Popular Event by Category</a>
                </li>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>Enter a Location</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">

                </div>
                <form action="/pop-loc" class="col-md-10" method="POST">
                    <div class="form-group">
                        <label for="title">State:</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="e.g. California">
                    </div>
                    <div class="form-group">
                        <label for="author">City:</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="e.g. San Francisco (optional)">
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <div class="col-md-1">
                
                </div>
            </div>
    </body>
</html>